.container {
    max-width: 1158px;
    padding: 0 15px;
}

.hero {
    max-width: 1440px;
    max-height: 600px;
    padding: 188px 0 188px 0;
}

.hero-title {
    margin-bottom: 48px;
    font-size: 56px;
line-height: 1.07;  
}
/*----about*/
.about {
    padding: 120px 0 120px 0;
    margin: 0 auto;
}

.about-soc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius:  4px ;
    margin-bottom: 8px;
}

.about-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: start;
}

.about-paragraph {
    font-weight: 400;
    width: 264px;
}

.info {
    padding-bottom: 120px;
    display: block;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
}

.customers-list {
    gap: 72px 24px;
}

.footer-list {
    margin-right: 120px;
}

.footer-soc-container {
    margin-top: 0;
}

.footer-label {
    
}

.footer-container {
    gap: 0 ;
}

.footer-form-container {
    margin-top: 0;
    margin-left: 78px;
}

.footer-form-text {
    

}

.footer-input {
    width: 264px;
    
}

.footer-soc-text {
    text-align: start;
}

.adress-list {
    display: flex;
}

.footer-form {  

}

.adress-item {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}

.header {
    padding: 0;
}

.header-logo {
    margin-right: 76px;
}

.modal {
    width: 408px;
}




    

