
.container {
    max-width: 768px;
}

.hero {
    max-width: 768px;
    max-height: 436px;
}

.hero-title {
    width: 496px;
    height: 120px;
    margin-bottom: 36px;
}

/*----about*/

.about-list {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: row;
      flex-wrap: wrap;
}

.about-list {
   gap: 72px 24px    ;
}

.about-title {
    display: block;
}

.about-paragraph {
    width: 356px;
height: 72px;

}

.header {
    
}

@media screen and (max-width: 1157px) {
    .team .container, .customers .container, .footer .container {
        max-width: 584px;
    }
}

.team-list {
    gap:64px 24px;
}

.team-list {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
}

.customers-link {
    width: 168px;
    height: 88px;
}

.customers-list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:72px 24px;
}

.footer-container {   
    
    display: flex;
    flex-wrap: wrap;

}

.footer-list {
    justify-content: start;
    align-items: start;
}

.footer-form {
    display: flex;
}



.footer-soc-container {
    margin-top: 0;
    margin-left: 24px;
}

.footer-c

.footer-input {
   
}

.footer-container {
    gap: 72px 24px;
}

.button-form {
    margin-left: 24px;
}

.footer-form-text {
    text-align: start;
}

.footer-input {
    width: 264px;
}

.mobile-menu {
    display: none;
}

.header-item {
    display: flex; 
 
}

.footer-form-container {
    margin-top: 0;
}

.adress-list {
   
}

.adress-item-li {
    display: flex;
    
    flex-wrap: wrap;
}

.header-logo {
    margin-right: 120px;
}

.header-logo-color {
    
    }

    .nav-list {
        
    }

    .modal {
        max-width: 408px;
    }

    







